<section>
  
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column results is-one-third has-background-white">
          <div id="name">{{name}}</div>
          <div id="image is-centered"><img src="{{image}}" alt="" /></div>
          <div id="address">
            Address:
            <span class="italics">{{location}}</span>
          </div>
          <div class="columns">
            <div class="column is-half" id="number">
              Phone Number: <span class="italics">{{phone}}</span>
            </div>
            <div class="column is-half" id="reviews">
              Reviews: {{rating}}
            </div>
          </div>
          <div class="columns is-centered bottomIcons has-background-black">
            <div class="column has-text-centered">
              <span class="icon has-text-success">
                <button id="yes"><i class="fas fa-heart fa-4x"></i></button>
              </span>
            </div>
            <div class="column has-text-centered">
              <span class="icon has-text-danger">
                <button id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>