<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="results"></div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column">
        <h1 class="title has-text-white has-text-centered" id="mainTitle">
          Meal Mate
        </h1>
        <p class="subtitle has-text-white has-text-centered">
          The App To Meet N' Eat!
        </p>
        <div class="columns is-centered is-vcentered" id="searchBar">
          <span class="icon has-text-white" id="locIcon">
           <a href="#" id="search"> <i class="fas fa-location-arrow fa-2x"></i></a>
          </span>
          <div class="control column is-one-third is-two-thirds-mobile">
            <input class="input" id="locationSearch" type="text" placeholder="Location" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
<!-- card 0 -->
  <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name0">{{name}}</div>
      <div id="image0 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address0">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number0">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews0">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- card 1 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name1">{{name}}</div>
      <div id="image1 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address1">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number1">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews1">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 2 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name2">{{name}}</div>
      <div id="image2 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address2">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number2">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews2">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 3 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name3">{{name}}</div>
      <div id="image3 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address3">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number3">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews3">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 4 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name4">{{name}}</div>
      <div id="image4 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address4">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number4">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews4">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 5 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name5">{{name}}</div>
      <div id="image5 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address5">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number5">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews5">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 6 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name6">{{name}}</div>
      <div id="image6 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address6">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number6">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews6">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 7 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name7">{{name}}</div>
      <div id="image7 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address7">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number7">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews7">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 8 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name8">{{name}}</div>
      <div id="image8 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address8">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number8">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews8">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 9 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name9">{{name}}</div>
      <div id="image9 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address9">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number9">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews9">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 10 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name10">{{name}}</div>
      <div id="image10 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address10">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number10">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews10">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 11 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name11">{{name}}</div>
      <div id="image11 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address11">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number11">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews11">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

 <!-- card 12 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name12">{{name}}</div>
      <div id="image12 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address12">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number12">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews12">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 13 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name13">{{name}}</div>
      <div id="image13 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address13">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number13">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews13">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 14 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name14">{{name}}</div>
      <div id="image14 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address14">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number14">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews14">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 15 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name15">{{name}}</div>
      <div id="image15 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address15">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number15">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews15">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 16 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name16">{{name}}</div>
      <div id="image16 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address16">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number16">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews16">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 17 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name17">{{name}}</div>
      <div id="image17 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address17">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number17">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews17">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 18 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name18">{{name}}</div>
      <div id="image18 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address18">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number18">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews18">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>


 <!-- card 19 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name19">{{name}}</div>
      <div id="image19 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address19">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number19">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews19">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

   <!-- card 20 -->
    <div class="columns is-centered has-text-centered">
    <div class="column results is-one-third has-background-white">
      <div id="name20">{{name}}</div>
      <div id="image20 is-centered"><img src="{{image}}" alt="" /></div>
      <div id="address20">
        Address:
        <span class="italics">{{location}}</span>
      </div>
      <div class="columns">
        <div class="column is-half" id="number20">
          Phone Number: <span class="italics">{{phone}}</span>
        </div>
        <div class="column is-half" id="reviews20">
          Reviews: {{rating}}
        </div>
      </div>
      <div class="columns is-centered bottomIcons has-background-black">
        <div class="column has-text-centered">
          <span class="icon has-text-success">
            <a href="#" id="yes"><i class="fas fa-heart fa-4x"></i></a>
          </span>
        </div>
        <div class="column has-text-centered">
          <span class="icon has-text-danger">
           <a href="#" id="nono"> <i class="fas fa-times-circle fa-4x" id="nono"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
</script>